/* Styles spécifiques à la page d'accueil */

/* Style pour les cœurs */
.heart {
  color: var(--red-color);
  margin: 0 15px;
  font-size: 1.3rem;
  display: inline-block;
  animation: pulse 1.5s infinite;
  font-style: normal;
}
.animHeart {
  position: absolute;
  font-size: 40px;
  animation: fall linear forwards;
  pointer-events: none;
  user-select: none;
  color: #c33232e7;
  opacity: 0.5;
  z-index: 1;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) translateX(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(400vh) translateX(20px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Ligne de séparation */
.divider {
  height: 2px;
  width: 200px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--red-color),
    transparent
  );
  margin: 0.5rem auto;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.divider::before {
  left: -5px;
}

.divider::after {
  right: -5px;
}

/* Section principale */
main {
  max-width: 1200px;
  margin: 0;
  background: linear-gradient(
      rgba(254, 251, 251, 0.79),
      rgba(246, 243, 243, 0.756)
    ),
    url("../assets/background2.jpg") center/cover no-repeat fixed;
}
.photo-couple {
  width: 100%;
  margin: 0 0 1rem 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.photo-couple img {
  width: 100%;
  height: auto;
  display: block;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  font-family: "Lucida Calligraphy", cursive;
}
.title {
  font-size: 1rem;
}
.nom-couple {
  font-size: 1.8rem;
  color: var(--red-color);
  font-weight: bold;
}
.mariage-civil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
}
.message span {
  color: var(--red-color);
}
.rsvp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rsvp a {
  padding: 1.3rem 3rem;
  background-color: var(--red-color);
  color: var(--champagne);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Lucida Calligraphy", cursive;
}
.rsvp a:hover {
  background-color: var(--champagne);
  color: var(--red-color);
}
.programme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}
.event-date {
  font-size: 1.5rem;
  color: var(--red-color);
  font-weight: bold;
  font-family: "Lucida Calligraphy", cursive;
}
.event-reference {
  font-size: 1rem;
}
.map {
  font-size: 1rem;
}
.img-place {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 2rem;
  margin-top: 0;
}
.img-place img {
  width: 20%;
}
.mot-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mot-img .img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--red-color);
  padding: 2rem;
}
.mot-img img {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.mot .identifiant {
  display: block;
  color: var(--red-color);
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  font-family: "Lucida Calligraphy", cursive;
  margin-top: 1rem;
}
.mot {
  font-size: 1rem;
  padding: 0.5rem;
}
.livreDor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(
      rgba(254, 251, 251, 0.745),
      rgba(246, 243, 243, 0.508)
    ),
    url("../assets/livreDor.jpg") center/cover no-repeat fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.livreDor h1 {
  font-size: 2rem;
  color: var(--red-color);
  font-family: "Lucida Calligraphy", cursive;
}

.identifiant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.identifiant input {
  margin: 0 1rem;
  padding: 0.5rem;
  border: 3px solid var(--red-color);
  border-radius: 10px;
}
.identifiant label {
  font-size: 1rem;
}
textarea {
  display: block;
  height: 10rem;
  margin: 0 1rem;
  padding: 0.5rem;
  border: 4px solid var(--red-color);
  border-radius: 10px;
}
button {
  padding: 1rem 2rem;
  background-color: var(--red-color);
  color: var(--champagne);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Lucida Calligraphy", cursive;
}
button:hover {
  background-color: var(--champagne);
  color: var(--red-color);
}
.avis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--red-color);
  color: var(--champagne);
}
footer {
  background-color: #333;
  color: var(--champagne);
  text-align: center;
  margin-top: 0;
}
