* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--light-color);
  font-size: 16px;
  width: 100vw;
}

/* Styles spécifiques à la page d'invitation */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.invit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 1rem;
}

.invit-page img {
  max-width: 90%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  color: var(--champagne);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "lucida calligraphy";
}
.download-btn {
  background-color: var(--red-color);
}
.print-btn {
  background-color: #115400;
  border: 1px solid #525400;
}

.print-btn:hover {
  background-color: #6a6c00;
  border: 1px solid #6a6c00;
}

.buttons button:hover {
  background-color: #a0522d;
}
h1 {
  font-size: 2rem;
  color: var(--red-color);
  font-family: "Lucida Calligraphy", cursive;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 0;
}
